In [1]:
import pandas
import pandas as pd
from glob2 import glob
import copy

In [ ]:
a=glob("C:...../OECD_ICIO/**/*.csv")

In [3]:
a[0][-17:-4]

'ICIO2021_2005'

In [ ]:
#First, we took the rows that had cn1, cn2 and chn, we made the index values ​​the same so that they would be after the first 4 digits, i.e. country codes,
#We combined the same codes with groupby, then we changed the index names with the index names of chn. The same process was done for mx1, mx2 and mex. The process performed for rows was also done for
#columns, the only difference was that we added a transpose for groupby. We are using it as a function because we will do the same process for all
#years.

def io_merger2(columns, dframe):
    if columns==False:
        
        df2=dframe.loc[[m for m in dframe.index.tolist() if "CN1" in m or "CN2"in m or "CHN" in m],:]
        df2.index=[m[4:] for m in df2.index.tolist()]
        dfdf=df2.groupby(df2.index.tolist(), axis=0).sum()
        dfdf.index=dframe.loc[[m for m in dframe.index.tolist() if "CHN" in m],:].index.tolist()
        
        df3=dframe.loc[[m for m in dframe.index.tolist() if "MX1" in m or "MX2" in m or "MEX" in m],:]
        df3.index=[m[4:] for m in df3.index.tolist()]
        dfdf2=df3.groupby(df3.index.tolist(), axis=0).sum()
        dfdf2.index=dframe.loc[[m for m in dframe.index.tolist() if "MEX" in m],:].index.tolist()
        
        df4=pandas.concat([dfdf,dfdf2])

        return(df4)
        
    else:
        
        df2=dframe.loc[:,[m for m in dframe.columns.tolist() if "CN1" in m or "CN2"in m or "CHN" in m]]
        df2.columns=[m[4:] for m in df2.columns.tolist()]
        df_t=df2.transpose()
        dfdf=df_t.groupby(df_t.index.tolist(), axis=0).sum().transpose()
        dfdf.columns=dframe.loc[:,[m for m in dframe.columns.tolist() if "CHN" in m]].columns.tolist()
        
        df3=dframe.loc[:,[m for m in dframe.columns.tolist() if "MX1" in m or "MX2" in m or "MEX" in m]]
        df3.columns=[m[4:] for m in df3.columns.tolist()]
        df_t2=df3.transpose()
        dfdf2=df_t2.groupby(df_t2.index.tolist(), axis=0).sum().transpose()
        dfdf2.columns=dframe.loc[:,[m for m in dframe.columns.tolist() if "MEX" in m]].columns.tolist()
        
        
        df4=pandas.concat([dfdf,dfdf2], axis=1)
        
        return(df4)

In [ ]:

for years in a:
    
    print(years[-8:-4])
    df=pandas.read_csv(years, index_col=0)
    
    df2=copy.deepcopy(df)
    
   
    df_rows=io_merger2(columns=False, dframe=df)
    cols=df.columns.tolist()
    df.loc[df.index.isin(df_rows.index), cols] = df_rows[cols]

    
    df_cols=io_merger2(columns=True, dframe=df)
    rows=df.index.tolist()
    df.loc[rows, df.columns.isin(df_cols.columns)] = df_cols.loc[rows,:]

  
    df_son3=df.loc[[m for m in df.index.tolist() if "CN1" not in m and "MX1" not in m and "CN2" not in m and "MX2" not in m],[m for m in df.columns.tolist() if "CN1" not in m and "MX1" not in m and "CN2" not in m and "MX2" not in m]]
    
    print(years[-8:-4])
    print(df_son3.loc["CHN_01T02",:].sum(),df2.loc[[m for m in df2.index.tolist() if "CN1_01T02" in m or "CN2_01T02" in m or "CHN_01T02" in m],:].sum().sum())
    print(df_son3.loc["CHN_01T02","CHN_01T02"].sum(),df2.loc[[m for m in df2.index.tolist() if "CN1_01T02" in m or "CN2_01T02" in m or "CHN_01T02" in m],[m for m in df2.columns.tolist() if "CN1_01T02" in m or "CN2_01T02" in m or "CHN_01T02" in m]].sum().sum())
    print(df_son3.loc["CHN_01T02","MEX_10T12"].sum(),df2.loc[[m for m in df2.index.tolist() if "CN1_01T02" in m or "CN2_01T02" in m or "CHN_01T02" in m],[m for m in df2.columns.tolist() if "MX1_10T12" in m or "MX2_10T12" in m or "MEX_10T12" in m]].sum().sum())
    
    df_son3.to_csv("D:/Kaynaklar_Master/OECD_ICIO/all_years_chn_mex_adjusted/" + years[-17:-4] + ".csv")

2005
2005
785827.7251350001 785827.725135
54725.636856 54725.636856
32.625662 32.625662
2006
2006
826733.524908 826733.5249079999
52840.521032 52840.521032
40.467483 40.467483
2007
2007
1080544.2211530001 1080544.221153
85855.564965 85855.564965
41.080042 41.080042
2008
2008
1361217.5444760001 1361217.544476
98073.467003 98073.467003
64.369243 64.369243
2009
2009
1469116.7543990002 1469116.7543990002
101303.812941 101303.812941
52.983422 52.983422
2010
2010
1687554.3465850004 1687554.346585
108251.660321 108251.660321
61.911971 61.911971
2011
2011
2168993.6548280003 2168993.6548280003
159170.128119 159170.128119
56.992118000000005 56.992118000000005
2012
2012
2530906.9223129996 2530906.9223130005
197374.574403 197374.574403
57.612655 57.612655
2013
2013
2852863.266593 2852863.266593
225775.533997 225775.533997
44.160388000000005 44.160388000000005
2014
2014
3153128.51663 3153128.5166300004
246001.070237 246001.070237
56.950718 56.950718
2015
2015
3383325.7685419996 3383325.7685419996
255295.97191 255295.97191
82.68032199999999 82.68032199999999
2016
2016
3236557.637271 3236557.637271
273796.11037 273796.11037
65.974839 65.974839
2017
2017
3378949.870844 3378949.8708440005
321924.079408 321924.079408
65.324418 65.324418
2018
2018
3826201.6791050006 3826201.679105
401604.444287 401604.444287
91.057933 91.057933